{% extends "base.html" %}
{% block content %}
<h1>Kategoriat</h1>
{% if message %}
<div class="alert alert-success">
    <ul>
        {{message}}
    </ul>
</div>
{% endif %}
<p>
    <a href="{{base_path}}/categories/new" class="btn btn-success">Lisää kategoria</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Muokkaa</th>
        </tr>
    </thead>

    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{category.name}}</td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/categories/{{category.id}}/edit">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
