{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{task.name}}</h1>
{% if message %}
<div class="alert alert-success">
    <ul>
        {{message}}
    </ul>
</div>
{% endif %}
<ul>
    <li><strong>Nimi:</strong> {{task.name}}</li>
    <li><strong>Suoritettu:</strong> {% if task.completed %}Kyllä{% else %}Ei{% endif %}</li>
    <li><strong>Kategoriat:</strong> Koulu</li>
    <li><strong>Kiireellisyys:</strong> {% if task.priority == 0 %}Ei kiire{% endif %}{% if task.priority == 1 %}Normaali{% endif %}{% if task.priority == 2 %}Kiire{% endif %}</li>
    <li><strong>Deadline:</strong> {{task.deadline}}</li>
</ul>
<p>
    {{ task.description }}
</p>
<p>
    {{forms.destroy_button("#{base_path}/task/#{task.id}/destroy")}}
    <a class="btn btn-primary" href="{{base_path}}/task/{{ task.id }}/edit">Muokkaa</a>
    {% if not task.completed %}
    <a href="{{base_path}}/tasks/complete/{{ task.id }}" class="btn btn-success">Suoritettu</a>
    {% endif %}
</p>
{% endblock %}
