{% extends "base.html" %}
{% block content %}
  <h1>Osta Laskin</h1>
  <ul>
    <li><strong>Nimi:</strong> Osta laskin</li>
    <li><strong>Suoritettu:</strong> Ei</li>
    <li><strong>Kategoriat:</strong> Koulu</li>
    <li><strong>Kiireellisyys:</strong> Ei kiire</li>
    <li><strong>Deadline:</strong> 11.11.2015</li>
  </ul>
  <p>
    Osta laskin laskareita varten.
  </p>
  <p>
    <button class="btn btn-primary">Muokkaa</button> <a href="#" class="btn btn-success">Suoritettu</a>
  </p>
{% endblock %}
